# Python
__pycache__/
*.py[codz]
*.so
*.egg-info/
.eggs/
dist/
build/

# Entornos
.env
.envrc
.venv
venv/

# RabbitMQ
mnesia/
rabbitmq-data/

# IDEs
.idea/
.vscode/

# mypy / ruff
.mypy_cache/
.ruff_cache/

# coverage
.coverage